snippet sig> "Signal"
${1:Source} -> ${2:Destination} [label="${3:Label}"];
endsnippet

snippet sig< "Signal"
${1:Source} <- ${2:Destination} [label="${3:Label}"];
endsnippet

snippet meth> "Method"
${1:Source} => ${2:Destination} [label="${3:Label}"];
endsnippet

snippet meth< "Method"
${1:Source} <= ${2:Destination} [label="${3:Label}"];
endsnippet

