snippet -> "Signal"
${1:Source} -> ${2:Destination} [label="${3:Label}"];
endsnippet

snippet <- "Signal"
${1:Source} <- ${2:Destination} [label="${3:Label}"];
endsnippet

snippet => "Method"
${1:Source} => ${2:Destination} [label="${3:Label}"];
endsnippet

snippet <= "Method"
${1:Source} <= ${2:Destination} [label="${3:Label}"];
endsnippet

snippet box "Box"
${1:Source} box ${2:Destination} [label="${3:Label}"];
endsnippet
