snippet todo "TODO" b
# TODO: ${0}
endsnippet

snippet mfun "Member function" b
def ${1}(self${2}):
	${0}
endsnippet

snippet	TestCase "unittest.TestCase" b
class ${1}(TestCase):
	def setUp(self):
		pass

	def tearDown(self):
		pass

	def test_${2}(self):
		${0}
endsnippet

snippet aeq "assertEqual" b
self.assertEqual(${1}, ${2})
endsnippet

snippet at "assertTrue" b
self.assertTrue(${1})
endsnippet

snippet af "assertFalse" b
self.assertFalse(${1})
endsnippet
