snippet mfun "Member function" b
def ${1}(self${2}):
	${0}
endsnippet

snippet aEq "assertEqual" b
self.assertEqual(${1}, ${2})
endsnippet

snippet aTrue "assertTrue" b
self.assertTrue(${1})
endsnippet

snippet aFalse "assertFalse" b
self.assertFalse(${1})
endsnippet
